name: Tests
on: [ push, pull_request ]
jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ '7.3', '7.4', '8.0' ]
    name: Testing on PHP ${{ matrix.php-versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring,bcmath
          tools: phpunit,composer
      - name: Install dependencies
        run: composer install --quiet --no-ansi --no-interaction --no-scripts --no-progress
      - name: Run tests
        run: composer test
